[submodule "vim/mustache"]
	path = vim/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "nvm"]
	path = nvm
	url = git://github.com/creationix/nvm.git
[submodule "vim/bundle/vimtodo"]
	path = vim/bundle/vimtodo
	url = git://github.com/mivok/vimtodo.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "atom/packages/csharp.tmbundle"]
	path = atom/packages/csharp.tmbundle
	url = https://github.com/wintermi/csharp-tmbundle
[submodule "rbenv/plugins/ruby-build"]
	path = rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems
[submodule "vim/bundle/elm-vim"]
	path = vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "vim/bundle/vim-move"]
	path = vim/bundle/vim-move
	url = https://github.com/matze/vim-move
