<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
     To install:

         $ sudo cp spraints.launch_socket_server.nginx.plist /Library/LaunchDaemons/
         $ sudo launchctl load `pwd`/spraints/launch_socket_server.nginx.plist
-->
  <dict>
    <key>Label</key>
    <string>spraints.launch_socket_server-v6.nginx</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>spraints</string>
    <key>GroupName</key>
    <string>staff</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/sbin/launch_socket_server</string>
        <string>-</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/spraints/.nginx</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>LAUNCH_PROGRAM_TCP_ADDRESS</key>
      <string>127.0.0.1:45678</string>
    </dict>
    <key>Sockets</key>
    <dict>
        <key>Socket</key>
        <dict>
            <key>SockNodeName</key>
            <string>::1</string>
            <key>SockServiceName</key>
            <string>80</string>
        </dict>
    </dict>
  </dict>
</plist>
