"*":
  editor:
    fontSize: 14
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "exception-reporting":
    userId: "8b4669ee-4c03-bfac-695d-ecae0d4eee8c"
  welcome:
    showOnStartup: false
